@model List<MolvenoLakeResort.Library.Core.Ingredient>
<div class="container">
    @if (ViewBag.ShowHeader)
    {
        <div class="row ">
            <div class="col-md-3"><b>Name</b></div>
            <div class="col-md-3">Cost Price</div>
            <div class="col-md-3">Add-on Charge</div>
            <div class="col-md-3"> </div>
        </div>
    }
    @foreach (var ingredient in @Model)
    {
        if (ViewBag.ShowHeader)
        {
            <div class="row">
                <div class="col-md-3">@Html.ActionLink(ingredient.Name, "Details", new { id = ingredient.Id })</div>
                <div class="col-md-3">@ingredient.CostPrice</div>
                <div class="col-md-3">@ingredient.AddOnCharge</div>
                <div class="col-md-3"></div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-3"><i>@ingredient.Name</i></div>
                <div class="col-md-3"><i>@ingredient.CostPrice</i></div>
                <div class="col-md-3"><i>@ingredient.AddOnCharge</i></div>
                <div class="col-md-3"></div>
            </div>
        }
    }
</div>