@using System.Globalization
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4
@using X.PagedList.Mvc.Common
@model X.PagedList.IPagedList<MolvenoLakeResort.Library.Business_Objects.MolvenoIngredient>
<div class="container">
    @if (ViewBag.ShowHeader)
    {
        <div class="row ">
            <div class="col-md-1">Description</div>
            <div class="col-md-1">Brand</div>
            <div class="col-md-1">ArticleNumber</div>
            <div class="col-md-1">Category</div>
            <div class="col-md-1">Deliverer</div>
            <div class="col-md-1">Price</div>
            <div class="col-md-1">PricePerUnit</div>
            <div class="col-md-1">Quantity</div>
            <div class="col-md-1">Stock</div>
            <div class="col-md-1">StockWorth</div>
            <div class="col-md-1">Unit</div>
            <div class="col-md-1">Vat</div>
        </div>
    }
    @foreach (var ingredient in @Model)
    {
        if (ViewBag.ShowHeader)
        {
            <div class="row">
                <div class="col-md-1">@ingredient.Description</div>
                <div class="col-md-1">@ingredient.Brand</div>
                <div class="col-md-1">@ingredient.ArticleNumber</div>
                <div class="col-md-1">@ingredient.Category</div>
                <div class="col-md-1">@ingredient.Deliverer</div>
                <div class="col-md-1">@ingredient.Price</div>
                <div class="col-md-1">@ingredient.PricePerUnit</div>
                <div class="col-md-1">@ingredient.Quantity</div>
                <div class="col-md-1">@ingredient.Stock</div>
                <div class="col-md-1">@ingredient.StockWorth</div>
                <div class="col-md-1">@ingredient.Unit</div>
                <div class="col-md-1">@ingredient.Vat</div>
            </div>
        }
    }
</div>
