@using X.PagedList
@model MolvenoLakeResort.Library.Core.Dish
@{
ViewBag.ShowHeader=false;

}

    @if (@Model.MinimumNumberOfPersons > 1)
    {
        <div class="row "><div class="col-md-12">
            * Voor dit gerecht geld een minimum aantal personen van @Model.MinimumNumberOfPersons
        </div></div>
    }
   
    <div class="row">
        <div class="col-md-4">
            @Model.Name
        </div>
        <div class="col-md-4">
            € @Model.SuggestedRetailPrice
        </div>
        <div class="col-md-4">
            € @Model.PriceInEuros
        </div>
    </div>
<div class="row">
    @foreach (var i in @Model.Ingredients)
    {
    <i><div class="col-md-1">@i.Name </div></i>
    }
    @*@{Html.RenderPartial("Partial/_PartialIngredient", @Model.Ingredients.ToPagedList());}*@
</div>
