@model MolvenoLakeResort.Library.Authentication.User

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "User"))
{
    @Html.AntiForgeryToken()

    <div class="container">
    <div class="row">
        <div class="col-md-5">@Html.LabelFor(m => m.Email)</div>
        <div class="col-md-7">@Html.TextBoxFor(m => m.Email,new{style="width:270px;"})</div>
    </div>
    <div class="row">
        <div class="col-md-5">@Html.LabelFor(m => m.Password)</div>
        <div class="col-md-7">@Html.PasswordFor(m => m.Password, new { style = "width:270px;" })</div>
    </div>
    <div class="row">
        <div class="col-md-5">@Html.LabelFor(m => m.ConfirmPassword)</div>
        <div class="col-md-7">@Html.PasswordFor(m => m.ConfirmPassword, new { style = "width:270px;" })</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input type="submit" class="btn btn-dark" title="Register" value="Register" />
        </div>
    </div>
</div>
}